/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  /*width: 100%;*/
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  
}

.map-home h1 {
  font-size: 120px;
  font-weight: 700;
  text-shadow: 0 0 2px #222, 0 0 2px #222;
  /*color: #85ADFF;*/
  color: #FFFFFF;
}

.map-home h2 {
  font-size: 40px;
  font-weight: 700;
  text-shadow: 0 0 2px #222, 0 0 2px #222;
  /*color: #85ADFF;*/
  color: #FFFFFF;
}

/*
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
} */

.mpa-section h1, h2, h3 {
  font-family: "futura-pt", Futura, sans-serif;
  text-transform: uppercase;
}
/* additional sections */
#home {
  background: url(img/bg1.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
}

.mpa-section {
  padding: 25px 75px;
  margin: 0 0 0px;
  /* green */
  /*
  background-color: #A5D6A7;
  color: #1B5E20;
  */
  background-color: #2980B9;
  color: #FFFFFF;
}

.mpa-section h3 {
  font-size: 40px;
  font-family: "futura-pt", Futura, sans-serif;
  text-transform: uppercase;
  padding-bottom: 15px;
  border-bottom: 4px double #FFFFFF;
}

.speaker-img{
  border: 2px solid #000000;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  opacity: .8;
}

#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

.glyphicon-md {
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 40px;
  height: 80px;
  line-height: 75px;
  text-align: center;
  vertical-align: middle;
  width: 80px;
}

#information {
  background: url(img/bg4.jpg) no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#information .panel {
  opacity: 0.85;
}

.workshop-pl {
  background: url(img/bg5.jpg) no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mpa-mid-section {
  background-color: #E8F5E9;
}

.mpa-mid-sponsors {
  height: 75px;
}

.venue-pl {
  background: url(img/bg3.jpg) no-repeat center center fixed;
  display: table;
  height: 300px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#google_map {
  height: 300px;
}

footer {
  color: #FFFFFF;
  background-color: #2980B9;
  padding: 20px 0;
}

footer  a{
  color: #FFFFFF;
}

footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}

.carousel,
.carousel-control.right,
.carousel-control.left {
  background-image: none;
  background-color: #E8F5E9;
}

.carousel-control {
  color: #000000;
}
